umldia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="packagedElement" type="packagedElementType"/>
  <xs:element name="category" type="xs:string"/>
  <xs:element name="package" type="xs:string"/>
  <xs:element name="author" type="xs:string"/>
  <xs:element name="license" type="xs:string"/>
  <xs:element name="link">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="http://pear.php.net/package/PHP_UML"/>
        <xs:enumeration value="http://www.baptisteautin.com/projects/PHP_UML/"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="see">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="PHP_UML_Metamodel_Superstructure"/>
        <xs:enumeration value="PHP_UML_FilePatternFilterIterator#accept()"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="var">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="string"/>
        <xs:enumeration value="boolean"/>
        <xs:enumeration value="PHP_UML::Metamodel::PHP_UML_Metamodel_Superstructure"/>
        <xs:enumeration value="array"/>
        <xs:enumeration value="array();"/>
        <xs:enumeration value="PHP_UML_Output_Exporter"/>
        <xs:enumeration value="PHP_UML_Input_ImporterFileScanner"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="param" type="xs:string"/>
  <xs:element name="deprecated" type="xs:string"/>
  <xs:element name="return">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="PHP_UML_Metamodel_Superstructure The resulting UML model"/>
        <xs:enumeration value="string Pattern converted"/>
        <xs:enumeration value="PHP_UML_Metamodel_Superstructure Model generated during PHP parsing"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:complexType name="ownedCommentType">
    <xs:sequence>
      <xs:element type="xs:string" name="body"/>
    </xs:sequence>
    <xs:attribute ref="ns:type" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
    <xs:attribute ref="ns:id" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
    <xs:attribute type="xs:string" name="annotatedElement" use="optional"/>
  </xs:complexType>
  <xs:complexType name="packagedElementType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ownedAttributeType" name="ownedAttribute"/>
      <xs:element type="ownedOperationType" name="ownedOperation"/>
      <xs:element type="ownedCommentType" name="ownedComment"/>
      <xs:element type="packagedElementType" name="packagedElement"/>
      <xs:element type="providedType" name="provided"/>
      <xs:element type="manifestationType" name="manifestation"/>
    </xs:choice>
    <xs:attribute ref="ns:type" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
    <xs:attribute ref="ns:id" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="visibility" use="optional"/>
    <xs:attribute type="xs:string" name="isAbstract" use="optional"/>
    <xs:attribute type="xs:string" name="stereotype" use="optional"/>
  </xs:complexType>
  <xs:complexType name="typeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="ns:idref" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="defaultValueType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="ns:type" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
        <xs:attribute ref="ns:id" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
        <xs:attribute type="xs:string" name="value" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ownedAttributeType">
    <xs:sequence>
      <xs:element type="typeType" name="type" minOccurs="0"/>
      <xs:element type="defaultValueType" name="defaultValue" minOccurs="0"/>
      <xs:element type="ownedCommentType" name="ownedComment" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="ns:type" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute ref="ns:id" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
    <xs:attribute type="xs:string" name="visibility" use="optional"/>
    <xs:attribute type="xs:string" name="isStatic" use="optional"/>
    <xs:attribute type="xs:string" name="isReadOnly" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ownedParameterType" mixed="true">
    <xs:sequence>
      <xs:element type="typeType" name="type" minOccurs="0"/>
      <xs:element type="defaultValueType" name="defaultValue" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="ns:id" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="direction" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ownedOperationType">
    <xs:sequence>
      <xs:element type="ownedParameterType" name="ownedParameter" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="ownedCommentType" name="ownedComment" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="ns:id" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="visibility" use="optional"/>
    <xs:attribute type="xs:string" name="isStatic" use="optional"/>
  </xs:complexType>
  <xs:complexType name="providedType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="ns:id" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
        <xs:attribute ref="ns:idref" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="manifestationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="ns:type" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
        <xs:attribute ref="ns:id" xmlns:ns="http://schema.omg.org/spec/XMI/2.1"/>
        <xs:attribute type="xs:string" name="client"/>
        <xs:attribute type="xs:string" name="supplier"/>
        <xs:attribute type="xs:string" name="utilizedElement"/>
        <xs:attribute type="xs:string" name="name"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>